body {
	align-content: center;
background-color: rgb(245, 221, 8);
}

header {
  background-color:black;
  padding: 30px;
	width: 100%;
  text-align: center;
  font-size: 35px;
  color: white;
	z-index: 1;
	top: 0;
  font-family: "Impact, Charcoal, sans-serif";
}

 video {
  align-content: center;
  max-width: 100%;
  height: auto;
}

.sidenavleft {
  height: 100%;
  width: 10%;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(245, 221, 8);
}

.sidenavleft a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
}

.sidenavleft a:hover {
  color: #f1f1f1;
}

.mainleft {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.sidenavright {
  height: 100%;
  width: 10%;;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;  
  background-color: rgb(245, 221, 8);

}
footer{
  bottom: 5%;
}

.sidenavright a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
}
html, body{
  color:white;
}
#index_title{
  margin-bottom: 4em;
}
.sidenavright a:hover {
  color: #f1f1f1;
}
.gm_logo{
  width:100%;
}

.mainright {
  margin-right: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.row-centered {
    text-align:center;
}
.col-centered {
	margin-top: 150px;
    display:inline-block;
    float:none;
    margin-right:-4px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ddd;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
nav{
  float:right;
  margin-right:10em;
}
 a {
  display:inline;
  text-decoration: none;;

}
form{
  margin-left:20%;
}
input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: lightblue;
}
textarea {
  width: 70%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}